#### source code
https://github.com/rasbt/python-machine-learning-book-2nd-edition/blob/master/code/ch08/ch08.ipynb

In [1]:
%load_ext watermark
%watermark -a "Himansu Sahoo" -u -d -v -p numpy,pandas,sklearn,nltk

Himansu Sahoo
last updated: 2019-01-07

CPython 3.6.6
IPython 6.1.0

numpy 1.15.3
pandas 0.23.4
sklearn 0.20.0
nltk 3.2.4

In [2]:
import pyprind
import pandas as pd
import os

In [4]:
os.listdir("aclImdb")

['imdb.vocab', 'imdbEr.txt', 'README', 'test', 'train']

In [5]:
os.listdir("aclImdb/train")

['labeledBow.feat',
 'neg',
 'pos',
 'unsup',
 'unsupBow.feat',
 'urls_neg.txt',
 'urls_pos.txt',
 'urls_unsup.txt']

In [6]:
basepath = "aclImdb"
labels = {'pos': 1, 'neg': 0}
pbar = pyprind.ProgBar(50000)
df = pd.DataFrame() # empty data frame

In [17]:
for s in ("test", "train"):
    for l in ("pos", "neg"):
        path = os.path.join(basepath, s, l)
        #print(path) # aclImdb\test\pos
        for file in sorted(os.listdir(path)):
            with open(os.path.join(path, file), "r", encoding="utf-8") as infile:
                txt = infile.read()
            df = df.append([[txt, labels[l]]], ignore_index=True)
            pbar.update()

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:12:49

In [14]:
len(sorted(os.listdir("aclImdb/test/pos"))) # 12500 text, same for neg
len(sorted(os.listdir("aclImdb/train/pos"))) # 12500

12500

In [18]:
df.shape

(50000, 2)

In [20]:
df.columns = ["review", "sentiment"]
df.head()

                                              review  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1

In [22]:
#### shuffling dataFrame
import numpy as np
np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))

In [23]:
df.head()

                                                  review  sentiment
11841  In 1974, the teenager Martha Moxley (Maggie Gr...          1
19602  OK... so... I really like Kris Kristofferson a...          0
45519  ***SPOILER*** Do not read this, if you think a...          0
25747  hi for all the people who have seen this wonde...          1
42642  I recently bought the DVD, forgetting just how...          0

In [24]:
df.to_csv("movie_data.csv", index=False, encoding="utf-8")

In [25]:
import pandas as pd
df_in = pd.read_csv("movie_data.csv", encoding="utf-8")

In [26]:
df_in.head()

                                              review  sentiment
0  In 1974, the teenager Martha Moxley (Maggie Gr...          1
1  OK... so... I really like Kris Kristofferson a...          0
2  ***SPOILER*** Do not read this, if you think a...          0
3  hi for all the people who have seen this wonde...          1
4  I recently bought the DVD, forgetting just how...          0

In [27]:
df_in.shape

(50000, 2)